In [1]:
import pandas as pd
import requests
import mysql.connector
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('rappler.csv')

In [3]:
from datetime import datetime


df['date'] = df['date'].str.split(' ').str[:3].str.join(' ')

df['date'] = df['date'].str.replace('June', 'Jun')

df['date'] = df['date'].str.replace('July', 'Jul')

df['date'] = df['date'].str.replace('April', 'Apr')

df['date'] = df['date'].str.replace(',', '')

def check_date_format(date_str, format='%b %d %Y'):
    try:
        datetime.strptime(date_str, format)
        return True
    except ValueError:
        return False

current_time = datetime.now().strftime('%b %d %Y')
df['date'] = df['date'].apply(lambda x: x if check_date_format(x) else current_time)


df['date'] = pd.to_datetime(df['date'], format='%b %d %Y')

df['date'] = df['date'].astype('datetime64[ns]')

In [4]:
import textwrap
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("cardiffnlp/twitter-roberta-base-sentiment")
model = AutoModelForSequenceClassification.from_pretrained("cardiffnlp/twitter-roberta-base-sentiment")

sentiment = pipeline("text-classification", model=model, tokenizer=tokenizer)

sentiment_scores = []
label = []

for title in df['title']:
    score = sentiment(title)
    sentiment_scores.append(score[0]['score'])
    label.append(score[0]['label'])

In [5]:
transformers_data = {
    'score': sentiment_scores,
    'label': label
}

df2 = pd.DataFrame(transformers_data)

df2['label'] = df2['label'].str.replace('LABEL_0', 'NEGATIVE')
df2['label'] = df2['label'].str.replace('LABEL_1', 'NEUTRAL')
df2['label'] = df2['label'].str.replace('LABEL_2', 'POSITIVE')

df3 = pd.concat([df, df2], axis=1)

In [6]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="****",
    database="ph_newspaper"
)

In [7]:
cursor = db_connection.cursor()

In [8]:
engine = create_engine('mysql+mysqlconnector://root:****@localhost/ph_newspaper')

In [9]:
df3.to_sql('philstar', con=engine, if_exists='append', index=False)

-1

In [10]:
try:
    cursor.execute("""
        SELECT title, MIN(article_id) AS min_article_id
        FROM philstar
        GROUP BY title
        HAVING COUNT(*) > 1
    """)
    duplicate_titles = cursor.fetchall()

    for title, min_article_id in duplicate_titles:
        cursor.execute("""
            DELETE FROM philstar
            WHERE title = %s AND article_id <> %s
        """, (title, min_article_id))
    
    cursor.execute("""UPDATE philstar
    SET date = REPLACE(date, ' , / ', '')""")

    cursor.execute("""UPDATE philstar
    SET date = TRIM(date)""")

    cursor.execute("""DELETE FROM philstar
    WHERE article = 'Premium,Â© The Financial Times Limited 2024. All Rights Reserved.,Not to be redistributed, copied or modified in any way.,Digital edition access ,Ad-free access '""")

    db_connection.commit()
    print("Duplicate entries have been deleted.")

except mysql.connector.Error as e:
    print("Error:", e)

finally:
    cursor.close()
    db_connection.close()

Duplicate entries have been deleted.